.pagina-inicio {
    
    width: 90%;
    max-width: 900px;  
    background-color: #3c64d3;
    color:rgb(255, 255, 255);
    padding: 10px;
    margin: 5px;
    width:100%;
    bottom: 0;
    border-radius: 12px;
    letter-spacing: 2px;
  }

